.main-header {
  height: 150px;
  background-color: cornflowerblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding:0  30px
}

.header-logo {
  height: 125px;
}

.header-links {
  width: 25%;
  display: flex;
  justify-content: space-evenly; 

}
span{
  font-size: 25px;
}

.dropdown-toggle{
 display: none;
}

.mobile-links{
  display: none;
}
.react-logo {
  height: 400px;
  width: 400px;
  animation-name: spin;
  animation-duration: .15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.react-logo1 {
  height: 400px;
  width: 400px;
  animation-name: spin;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.react-logo2 {
  height: 400px;
  width: 400px;
  animation-name: spinReverse;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.react-logo:hover{
  height: 700px;
  width: 700px;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinReverse {
  from{
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 800px){
  .main-header{
    height:200px;
  }

  .header-logo{
    height:175px;
  }

  .header-links {
    width:40%;
  }
  .react-logo {
    height: 250px;
    width: 250px;
  }
}

@media(max-width: 450px){
  .header-links{
    display: none
  }

  .dropdown-toggle{
    display: initial;
  }

  .mobile-links{
    display:initial;
    height: 150px;
    width: 150px;
    background-color: indianred;
    position: fixed;
    top: 200px;
    right: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-links span{
    border-bottom: 1px solid black;
  }
}